Repository bassemosama/graduationproject_iti: changes, and which Jenkins stages are due for each by the changed paths.
All: Build & Push Image with Kaniko, Terraform Init & Apply

Build & Push Image with Kaniko:
        agent {
          kubernetes {
            yaml """
  apiVersion: v1
  kind: Pod
  metadata:
    labels:
      jenkins: kaniko
  spec:
    serviceAccountName: jenkins
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command: [ "cat" ]
      tty: true
      resources:
  ...

Terraform Init & Apply:
        agent {
          kubernetes {
            yaml """
  apiVersion: v1
  kind: Pod
  metadata:
    labels:
      jenkins: terraform
  spec:
    serviceAccountName: jenkins
    containers:
    - name: terraform
      image: hashicorp/terraform:1.9
      command: [ "cat" ]
      tty: true
      resources:
        requests:
  ...

Update webhook test comment in app.js
  nodeapp/app.js
Due: Build & Push Image with Kaniko

Use build number as Docker image tag
  Jenkinsfile
Due: none

splitting build pipline from terraform pipline
  Jenkinsfile
  jenkins/Jenkinsfile.build
  jenkins/Jenkinsfile.terraform
  jenkins/values.yaml
  k8s-manifests/jenkins/jenkins-pvc.yaml
  k8s-manifests/jenkins/service-account.yaml
  terraform/nodegrp/main.tf
Due: Terraform Init & Apply

add save comment to test terraform pipline
  terraform/variables.tf
Due: Terraform Init & Apply

add daynomdb access policy to jenkins iam role
  terraform/jenkins/iam.tf
Due: Terraform Init & Apply

add annotations to jenkins pod identiy role that make pipline have aws cerdentals
  jenkins/Jenkinsfile.terraform
Due: none

test terrafrom pipline
  terraform/variables.tf
Due: Terraform Init & Apply

test terraform pipline2
  terraform/variables.tf
Due: Terraform Init & Apply

try to remove defualt profile to try make terraform pipline work
  terraform/provider.tf
Due: Terraform Init & Apply

give EKS permissions Secrets Manager permissions to jenkins iam role
  terraform/jenkins/iam.tf
  terraform/variables.tf
Due: Terraform Init & Apply

test terraform pipline
  terraform/variables.tf
Due: Terraform Init & Apply

test terraform pipline6
  terraform/variables.tf
Due: Terraform Init & Apply

test: add test resource to verify Terraform pipeline
  terraform/jenkins/iam.tf
  terraform/main.tf
  terraform/s3-test/main.tf
  terraform/s3-test/output.tf
Due: Terraform Init & Apply

Update image tag to 'latest' in ArgoCD source
  helm-chart/.argocd-source-myapp.yaml
Due: none

Update .argocd-source-myapp.yaml
  helm-chart/.argocd-source-myapp.yaml
Due: none

build: automatic update of myapp
  helm-values
Due: none

build: automatic update of myapp
  helm-chart/values.yaml
Due: none

Refactor Helm chart values for app and Redis
  helm-chart/values.yaml
Due: none

Refactor Helm chart values for nodeapp and redis
  helm-chart/values.yaml
Due: none

build: automatic update of myapp
  helm-chart/.argocd-source-myapp.yaml
Due: none

Test:Update error message for Redis connection failure
  nodeapp/app.js
Due: Build & Push Image with Kaniko

Fix destination format in Jenkinsfile.build
  jenkins/Jenkinsfile.build
Due: none

Fix typo in redis connection error message
  nodeapp/app.js
Due: Build & Push Image with Kaniko

update image tage to be depend on the numbers
  jenkins/Jenkinsfile.build
Due: none

Update image tag to v66 in values.yaml
  helm-chart/values.yaml
Due: none

Update ArgoCD image updater annotations
  argocd.yaml
Due: none

Add README
  QUICK_START.md
  README.md
Due: none

free env for test
  helm-chart/.argocd-source-myapp.yaml
  helm-chart/values.yaml
  k8s-manifests/cm.yaml
  k8s-manifests/exteranl-secrets.yaml
  k8s-manifests/ingress-nginx.yaml
  k8s-manifests/mysql.yaml
  nodeapp/app.js
  terraform/nodegrp/main.tf
  terraform/provider.tf
  terraform/secretmanager/iam.tf
  terraform/secretmanager/main.tf
  terraform/secretmanager/output.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: Build & Push Image with Kaniko, Terraform Init & Apply

editing terraform
  terraform/nodegrp/main.tf
Due: Terraform Init & Apply

test : Update webhook test comment in app.js
  nodeapp/app.js
Due: Build & Push Image with Kaniko

Path conditions:
  Build & Push Image with Kaniko: any of: nodeapp/**
  Terraform Init & Apply: any of: terraform/**
